# these libs are requested to build application env
voila
toml

sepal_ui==2.17

# custom libs
numpy
pandas
rasterio
matplotlib
cupy-cuda114
git+https://github.com/dfguerrerom/bfast.git
localtileserver