# these libs are requested to build application env
voila
toml

# Fixes authentication process
git+https://github.com/12rambau/sepal_ui.git@sepal_pre_release


# custom libs
numpy
pandas
rasterio
matplotlib
cupy-cuda114
git+https://github.com/dfguerrerom/bfast.git
localtileserver