# these libs are requested to build application env
voila
toml

# the base lib to run any sepal_ui based app
# don't forget to fix it to a specific version when you're app is ready
# This version contains file input improements and a fix for the map resize
git+https://github.com/12rambau/sepal_ui.git@sepal_pre_release

# custom libs
numpy
pandas
rasterio
matplotlib
cupy-cuda114
git+https://github.com/dfguerrerom/bfast.git
localtileserver